aiohttp==3.9.0b0
aiohttp-cors==0.7.0
aiosignal==1.3.1
appdirs==1.4.4
async-timeout==4.0.3
attrs==23.1.0
black==23.10.0
certifi==2023.7.22
chardet==5.2.0
charset-normalizer==3.3.0
click==8.1.7
colorama==0.4.6
frozenlist==1.4.0
idna==3.4
multidict==6.0.4
mypy-extensions==1.0.0
packaging==23.2
pathspec==0.11.2
platformdirs==3.11.0
regex==2023.10.3
requests==2.31.0
toml==0.10.2
tomli==2.0.1
typed-ast==1.5.5
typing_extensions==4.8.0
urllib3==2.0.7
yarl==1.9.2
